{% extends "perry.html" %}

{% block titulo %}  Cadastro de usuario {% endblock %}
{% block body %}
<div class="base">

        <h1>Cadastrar Novo usuario</h1>
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        <br>

        {{ form.usarname.label() }}
        {{ form.usarname() }}

        <br>

        {{ form.password.label() }}
        {{ form.password() }}

        <br>

        {{ form.checkPassword.label() }}
        {{ form.checkPassword() }}

        <br>

        {{ form.btn(class="testando") }}
    </form>
</div>
{% endblock %}